<!DOCTYPE html>
<html>
<!-- Created by Marwa Mahmoud for Code Titans Group -->
<!-- Centennial College - Fall 2021 -->
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Welcome to Titans Surveys </title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="container">
<br>
<br>

<div id="header">
<img src="code_titans/public/images/logo2.jpg" style="display:block; margin-left: auto; margin-right: auto;" >
<h1>Hello World !</h1>
</div>
<div id="createNew"></div>
<div id="viewExisting"></div>
</div>
